<?xml version="1.0" encoding="UTF-8"?>
<module id="833" version="2018051400">
  <modulename>label</modulename>
  <sectionid>240</sectionid>
  <sectionnumber>8</sectionnumber>
  <idnumber>$@NULL@$</idnumber>
  <added>1378480291</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>1</showdescription>
  <tags>
  </tags>
</module>